@import url('https://fonts.googleapis.com/css2?&family=Lato&family=Open+Sans:wght@300;500;800&family=Quintessential&display=swap');
*{
    font-family: 'Outfit', sans-serif;
    

}
html{
    scroll-behavior: smooth;
}
body{
    height: 300vh;

}
.ani-delay-1{
    animation-delay: 0.5s;
}
.ani-delay-2{
    animation-delay: 1s;
}
.ani-delay-3{
    animation-delay: 1.5s;
}
.ani-delay-4{
    animation-delay: 2s;
}
.ani-delay-5{
    animation-delay: 2.5s;
}
.ani-delay-6{
    animation-delay: 3s;
}
.site-nav{
    position: absolute;
    top: 0;
    z-index: 50;
    
}
.site-nav-scroll{
    position: fixed;
    background: #ffffff;
    box-shadow: 0 0 5px #00000020;
}
.navbar-toggler:focus{
    outline: none;
}
.site-nav-scroll .nav-link{
    color: #1A129F !important;
}
/* .site-nav-scroll.menu-icon{
    color: #1A129F ;
} */
.site-logo{
    width: 150px;
}

.home{
    position: relative;
   background-image: url(../img/Bg-Shape.svg);
   background-repeat: no-repeat;
   background-position: right top;
   background-size: 50%;
}
.social-v{
    position: absolute;
    bottom: 50px;
    left: 143px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scroll-to-next{
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.about{
    background-color:#1A129F10 !important;
}
.about-t{
    background-image: url(../img/bg-2.svg);
    background-repeat: no-repeat;
    background-position: center;
    
}
.services{
    background-image: url(../img/bg-3.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.about-text{}
.services-card{
    border-radius: 35px !important;
    
}
.services-des{
    height: 150px;
}
.pricing{
    background: #1A129F15 !important;
}
/* .slick-slide{
    width: 400px !important;
} */
.slick-dots{
display: flex;
justify-content: center;
align-items: center;
}
.slick-dots li{
    width: 15px;
    height: 15px;
    border: 2px solid #1A129F !important;
    border-radius: 50%;
}
.slick-dots .slick-active{
    background: #1A129F !important;

}
.footer{
    background-image: url(../img/footer-1.svg),url(../img/footer-2.svg);
    /* height: 350px; */
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 200px 0 50px 0;
}
.card{
    transition: 3s;
}
.card:hover{
    transform: scale(1.04);
}
@media screen and (max-width:576px) {
    .content-1,.content-2{
        width: 100% !important;
    }
    .about-p{
        margin-top: 10rem !important;
    }
    .footer{
        background-size: cover;
        background-position: center;
        padding: 200px 0 100px 0;
    }
    .slick-slide{
        
        width: 355px !important;
    }
    .social-v{
        bottom: 200px;
        right: -159px;
    }
    .site-nav{
        background: #ffffffee;
        backdrop-filter: blur(5px);
        box-shadow: 0 0 5px #00000020;
    }
    .site-nav .menu-icon{
        color: #1A129F !important;
        /* fill: red; */
    }
    .navbar-nav{
        margin: 20px 0;
    }
    .site-nav .nav-link{
        color: #1A129F !important;
        padding: 15px 20px;
    background:#ffffff40;
    box-shadow: 0 0 5px #e3e3e3;
    margin-top: 10px;
    border-radius: 20px;
    }
    
    
}